#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

/* --- GLOBAL SETTINGS --- */

&mt {
    quick-tap-ms = <175>;
    global-quick-tap;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <0 1>;
        };

        tilde {
            bindings = <&kp TILDE>;
            key-positions = <4 5>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <8 9>;
        };

        rslash {
            bindings = <&kp NON_US_BACKSLASH>;
            key-positions = <14 15>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <29 30>;
        };
    };

    behaviors {
        /* FIXED: Now correctly binds keys for Home Row Mods */

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        shiftdel: shiftdel {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFTDEL";
            bindings = <&none>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 36 37 35 34>;
        };
    };

    /* NEW: Hold both thumb keys (SPACE + ENTER) to reach ADJ layer */

    cond_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
                         &kp Q  &kp W  &kp E             &kp R         &kp T          &kp Y        &kp U                     &kp I         &kp O    &kp P
                         &kp A  &kp S  &kp D             &kp F         &kp G          &kp H        &kp J                     &kp K         &kp L    &kp SEMICOLON
&mt LEFT_CONTROL ESCAPE  &kp Z  &kp X  &kp C             &kp V         &kp B          &kp N        &kp M                     &kp COMMA     &kp DOT  &kp FSLH       &kp SQT
                                       &sk LEFT_CONTROL  &kp LEFT_GUI  &lt 1 SPACE    &lt 2 ENTER  &mt LEFT_SHIFT BACKSPACE  &sk LEFT_ALT
            >;
        };

        nav_layer {
            label = "NAV";
            bindings = <
         &sk LS(LCTRL)  &kp N1  &kp N2  &kp N3  &kp PG_UP    &kp LC(TAB)        &kp LS(LC(TAB))  &kp N8            &kp C_BRI_DEC  &kp C_BRI_INC
         &kp LS(LGUI)   &kp N4  &kp N5  &kp N6  &kp N0       &kp LEFT           &kp DOWN         &kp UP            &kp RIGHT      &kp C_VOL_UP
&kp END  &kp LEFT_GUI   &kp N7  &kp N8  &kp N9  &kp PG_DN    &kp LC(LA(LG(R)))  &kp K_PREV       &kp K_PLAY_PAUSE  &kp K_NEXT     &kp C_VOL_DN   &kp HOME
                                &trans  &trans  &trans       &kp LS(ENTER)      &kp LC(BSPC)     &kp BSPC
            >;
        };

        sim_layer {
            label = "SYM";
            bindings = <
            &kp LS(N1)  &kp LS(N2)  &kp LS(N3)    &kp LS(N4)   &kp LS(N4)    &kp LS(N5)    &kp LS(N5)    &kp LS(N6)    &kp LS(N7)  &kp LS(N8)
            &kp CAPS    &kp LBKT    &kp LS(LBKT)  &kp LS(N9)   &kp AT        &kp F12       &kp LS(N0)    &kp LS(RBKT)  &kp RBKT    &none
&kp KP_NUM  &kp DEL     &kp KP_N1   &kp KP_N2     &kp KP_N4    &kp KP_DOT    &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PREV    &kp C_NEXT  &none       &none
                                    &kp CAPSLOCK  &kp LC(DEL)  &kp DEL       &kp SPACE     &kp C_PP      &trans
            >;
        };

        adjust_layer {
            label = "ADJ";
            bindings = <
        &sys_reset   &bt BT_CLR  &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2    &trans  &kp F7  &kp F8  &kp F9  &kp F12
        &bootloader  &bt BT_NXT  &bt BT_CLR_ALL  &trans        &trans          &trans  &kp F4  &kp F5  &kp F6  &kp F11
&trans  &trans       &bt BT_PRV  &trans          &trans        &trans          &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                                 &trans          &trans        &trans          &trans  &trans  &trans
            >;
        };
    };
};
